@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
body{
    margin :0;
    padding: 0;
    background-color: rgba(17,17,17,255) !important;
    height: 1500px !important;
    max-height: 98%;
}
*{
    font-family: "Staatliches", sans-serif;
}
/*NAVABR*/
.navbar{
    
    margin: 15px;
    position: absolute;
    text-align: center;
}
.navbar .container-fluid .collapse{
    padding-left: 240px;
    font-weight: 400;
}
.box-button {
    margin-left: auto !important;
    padding-right: 20%;
}
.box-button-2{
    padding: 10% 50% 10% 0;
}
.buton-register {
    background-color: rgb(231, 219, 204);
    border-radius: 10px;
    padding: 2px 2px;
    cursor: pointer;
}


.buton-register .text {
    font-size: 14px;
    background-color: rgb(11, 10, 10);
    border-radius: 10px;
    font-weight: 800;
    padding: 10px 20px;
    text-align: center;
}

.buton-register .text a {
    color: rgb(238, 230, 230);
    display: block;
    text-decoration: none;
}

.buton-register .text:hover {
    background-color: rgb(249, 246, 246);
    color: rgb(0, 0, 0);
    animation: bounce 0.4s ease-in-out infinite;
}

.buton-register .text:hover a {
    color: rgb(0, 0, 0);
}
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}
/*---------------------------------------*/

/* Contenedor general*/
.proyects {
    height: 100%;
    height: auto;
}

.proyects .container {
    display: flex;
    flex-wrap: wrap; 
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.fixed-section {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 50%;
    background-color: #f5f5f5;
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.fixed-section h2 {
    font-size: 11vw; 
    color: #000;
    font-family: "Antonio", sans-serif;
    letter-spacing: -0.7vw;   
}

.fixed-section .text p {
    font-weight: 500;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 1.3vw;
    margin-top: 20%;
}

.fixed-section .button-view {
    width: 25%;
    padding: 20px;
    margin-right: 8px;
    text-align: center;
    border-radius: 30px;
    border: 1px solid #000;
    cursor: pointer;
    font-size: small;
}

.fixed-section .button-view:hover {
    background-color: #000;
    color: #e2e2e8;
}
.fixed-section .dates{
    display: flex;
    width: 100%;;
    margin-top: 7%;
}

.fixed-section .dates .options-container {
    display: flex;
    gap: 4px;
    margin-left: auto;
}


.fixed-section .dates .options-container .skills {
    padding: 20px;
    border-radius: 30px;
    border: 1px solid #ffffff;
    color: #e2e2e8;
    background-color: #000; 
}

/* Sección de desplazamiento */
.scroll-section {
    width: 50%;
    margin: 0;
}

/* Cajas para los ítems */
.box {
    height: 113vh; /* Altura ajustada al tamaño de la pantalla */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.box img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
/*Imagenes del proyecto 1*/
.proyect-1 .item-1 {
    background-image: url('images/proyect-1-img-1.jpg');
}

.proyect-1 .item-2 {
    background-image: url('images/proyect-1-img-2.jpg');
}

.proyect-1 .item-3 {
    background-image: url('images/proyect-1-img-3.jpg');
}

/*Imagenes del proyecto 2*/
.proyect-2 .item-1 {
    background-image: url('images/proyect-2-img-1.jpg');
}

.proyect-2 .item-2 {
    background-image: url('images/proyect-2-img-2.jpg');
}

.proyect-2 .item-3 {
    background-image: url('images/proyect-2-img-3.jpg');
}
/*Imagenes del proyecto 3*/
.proyect-3 .item-1 {
    background-image: url('images/proyect-3-img-1.jpg');
}

.proyect-3 .item-2 {
    background-image: url('images/proyect-3-img-2.jpg');
}

.proyect-3 .item-3 {
    background-image: url('images/proyect-3-img-3.jpg');
}
/*Imagenes del proyecto 4*/
.proyect-4 .item-1 {
    background-image: url('images/proyect-4-img-1.jpg');
}

.proyect-4 .item-2 {
    background-image: url('images/proyect-4-img-2.jpg');
}

.proyect-4 .item-3 {
    background-image: url('images/proyect-4-img-3.jpg');
}

/*imagenes del proyecto 5*/
.proyect-5 .item-1 {
    background-image: url('images/proyect-1-img-1.jpg');
}

.proyect-5 .item-2 {
    background-image: url('images/proyect-1-img-2.jpg');
}

.proyect-5 .item-3 {
    background-image: url('images/proyect-1-img-3.jpg');
}

footer { 
    width: 100%; 
    height: 10%; 
    background-color: rgba(17,17,17,255); 
    color: white; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}   
/*Medias quarys*/

@media (max-width: 1229px) {
    
    .fixed-section .button-view {
        width: 25%;
        font-size: small;
    }
    .fixed-section .dates .options-container .skills {
        font-size: 1vw;
        display: flex;
        align-items: center;
    }
}
@media (max-width: 1000px) {
    .fixed-section .button-view {
        width: 40%;
        margin-bottom: 4%;
        font-size: small;
    }
    .fixed-section .dates{
        display: block;
        width: 100%;;
        margin-top: 7%;
    }
}
@media (max-width: 992px) {
    .buton-register{
        display: none;
    }
    .navbar .container-fluid .collapse {
        text-align: center;
        padding: 0;
    }
    .navbar .container-fluid {
        justify-content: right !important;
    }
}
@media (max-width: 768px) {

    .proyects .container {
        flex-direction: column; 
        border: 1px solid #d3d3d3;
    }
    .fixed-section {
        position: relative; 
        top: 0;
        width: 100%;
        height: auto; 
        padding: 50px 20px; 
    }
    .fixed-section h2 {
        font-size: 19vw; 
        letter-spacing: -0.5vw; 
    }

    .fixed-section .text p {
        font-size: 3.5vw; 
        margin-top: 10%;
    }

   
    .fixed-section .dates {
        flex-direction: column; 
        margin-top: 10%;
    }

    .fixed-section .dates .options-container {
        gap: 5px; 
        flex-wrap: wrap;
        margin-left: 0; 
    }

    .fixed-section .dates .options-container .skills {
        font-size: small;
    }
    .scroll-section {
        display: none;
    }
}
